.bbcolor{
background-color:#edf4fc;
}
.sbcolor{
background: rgb(228,232,204); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(228,232,204,1) 0%, rgba(214,219,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,232,204,1)), color-stop(100%,rgba(214,219,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(228,232,204,1) 0%,rgba(214,219,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(228,232,204,1) 0%,rgba(214,219,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(228,232,204,1) 0%,rgba(214,219,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(228,232,204,1) 0%,rgba(214,219,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e8cc', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}
.hbcolor{
background: rgb(133,178,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(133,178,0,1) 0%, rgba(133,178,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(133,178,0,1)), color-stop(100%,rgba(133,178,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(133,178,0,1) 0%,rgba(133,178,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(133,178,0,1) 0%,rgba(133,178,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(133,178,0,1) 0%,rgba(133,178,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(133,178,0,1) 0%,rgba(133,178,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b200', endColorstr='#85b200',GradientType=0 ); /* IE6-9 */
}
            #inicio:hover{
                background-color: whitesmoke;
                border-bottom: solid medium #1c5ec7;
            }
            #inicio{
                border-bottom: solid medium white;
                -webkit-transition:all 0.5s ease-out;
                transition:all 0.5s ease-out;
            }
            #quienes:hover{
                background-color: whitesmoke;
                border-bottom: solid medium #1c5ec7;
            }
            #quienes{
                border-bottom: solid medium white;
                -webkit-transition:all 0.5s ease-out;
                transition:all 0.5s ease-out;
            }
            #servicio:hover{
                background-color: whitesmoke;
                border-bottom: solid medium #1c5ec7;
            }
            #servicio{
                border-bottom: solid medium white;
                -webkit-transition:all 0.5s ease-out;
                transition:all 0.5s ease-out;
            }
            
            #terminos:hover{
                background-color: whitesmoke;
                border-bottom: solid medium #1c5ec7;
            }
            #terminos{
                border-bottom: solid medium white;
                -webkit-transition:all 0.5s ease-out;
                transition:all 0.5s ease-out;
            }
            
            #contact:hover{
                background-color: whitesmoke;
                border-bottom: solid medium #1c5ec7;
            }
            #contact{
                border-bottom: solid medium white;
                -webkit-transition:all 0.5s ease-out;
                transition:all 0.5s ease-out;
            }
            #login:hover{
                background-color: whitesmoke;
                border-bottom: solid medium #1c5ec7;
            }
            .ensh{
                border-bottom: solid medium white;
                -webkit-transition:all 0.5s ease-out;
                transition:all 0.5s ease-out;
            }